/**
 * Breakpoints with string names
 * There is no defined limit between large landscape tablets and small laptops
 * We should focus on screen size, not device types for responsive design
 */
$retina: min-resolution 192dpi, min-resolution 2dppx;
$desktop: min-width 1200px;
$laptop: min-width 992px;
$tablet: min-width 768px;
$phablet: min-width 480px;
$mobileonly: max-width 320px;